<div class="border-end bg-blue sidebar" id="sidebar-wrapper">
    <div class="list-group list-group-flush sidebar">
        <a class="list-group-item list-group-item-action list-group-item-action p-3 nav-link sidebar"
            [routerLink]="['/inicio']">Inicio</a>
        <a class="list-group-item list-group-item-action list-group-item-blue p-3 nav-link sidebar"
            [routerLink]="['/estudiantes']">Lista de Estudiantes</a>
        <a class="list-group-item list-group-item-action list-group-item-blue p-3 nav-link sidebar"
            [routerLink]="['/comentarios']">Encuesta</a>
    </div>
</div>