body {
    min-height: 100vh;
    background: url(../img/inicio.jpg) no-repeat center center scroll;
    background-size: cover; 
  }
.textoInicial{
  color:white;
  display: flex;
  font-size: 3rem;
  text-align: center;
  margin-left: 10px;
    
}
